/* All styles for your Card Components live here */
.banner {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 10px;
    border: 1px solid lightgray;
}

.image-banner {
    width: 100%;
}

.card-content {
    padding: 0 20px;
}

.card-content a {
    color: gray;
    text-decoration: none;
}
